<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ants.monitor.dao.mapper.InvokeDOMapper" >
  <resultMap id="BaseResultMap" type="com.ants.monitor.bean.entity.InvokeDO" >
    <id column="uu_id" property="uuId" />
    <result column="application" property="application" />
    <result column="app_type" property="appType" />
    <result column="service" property="service" />
    <result column="method" property="method" />
    <result column="consumer_host" property="consumerHost" />
    <result column="consumer_port" property="consumerPort" />
    <result column="provider_host" property="providerHost" />
    <result column="provider_port" property="providerPort" />
    <result column="success" property="success"  />
    <result column="failure" property="failure"  />
    <result column="elapsed" property="elapsed"  />
    <result column="concurrent" property="concurrent"  />
    <result column="max_elapsed" property="maxElapsed"  />
    <result column="max_concurrent" property="maxConcurrent"  />
    <result column="invoke_date" property="invokeDate"  />
    <result column="invoke_hour" property="invokeHour"  />
    <result column="invoke_time" property="invokeTime"  />
    <result column="gmt_create" property="gmtCreate"  />
  </resultMap>
  <sql id="Base_Column_List" >
    application, app_type, service, method, consumer_host, consumer_port, provider_host,
    provider_port, success, failure, elapsed, concurrent, max_elapsed, max_concurrent, 
    invoke_date, invoke_hour, invoke_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dubbo_invoke
    where uu_id = #{uuId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dubbo_invoke
    where uu_id = #{uuId,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.ants.monitor.bean.entity.InvokeDO" >
    insert into dubbo_invoke
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuId != null" >
        uu_id,
      </if>
      <if test="application != null" >
        application,
      </if>
      <if test="appType != null" >
        app_type,
      </if>
      <if test="service != null" >
        service,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="consumerHost != null" >
        consumer_host,
      </if>
      <if test="consumerPort != null" >
        consumer_port,
      </if>
      <if test="providerHost != null" >
        provider_host,
      </if>
      <if test="providerPort != null" >
        provider_port,
      </if>
      <if test="success != null" >
        success,
      </if>
      <if test="failure != null" >
        failure,
      </if>
      <if test="elapsed != null" >
        elapsed,
      </if>
      <if test="concurrent != null" >
        concurrent,
      </if>
      <if test="maxElapsed != null" >
        max_elapsed,
      </if>
      <if test="maxConcurrent != null" >
        max_concurrent,
      </if>
      <if test="invokeDate != null" >
        invoke_date,
      </if>
      <if test="invokeHour != null" >
        invoke_hour,
      </if>
      <if test="invokeTime != null" >
        invoke_time,
      </if>
        gmt_create,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuId != null" >
        #{uuId,jdbcType=VARCHAR},
      </if>
      <if test="application != null" >
        #{application,jdbcType=VARCHAR},
      </if>
      <if test="appType != null" >
        #{appType,jdbcType=VARCHAR},
      </if>
      <if test="service != null" >
        #{service,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="consumerHost != null" >
        #{consumerHost,jdbcType=VARCHAR},
      </if>
      <if test="consumerPort != null" >
        #{consumerPort,jdbcType=VARCHAR},
      </if>
      <if test="providerHost != null" >
        #{providerHost,jdbcType=VARCHAR},
      </if>
      <if test="providerPort != null" >
        #{providerPort,jdbcType=VARCHAR},
      </if>
      <if test="success != null" >
        #{success,jdbcType=INTEGER},
      </if>
      <if test="failure != null" >
        #{failure,jdbcType=INTEGER},
      </if>
      <if test="elapsed != null" >
        #{elapsed,jdbcType=INTEGER},
      </if>
      <if test="concurrent != null" >
        #{concurrent,jdbcType=INTEGER},
      </if>
      <if test="maxElapsed != null" >
        #{maxElapsed,jdbcType=INTEGER},
      </if>
      <if test="maxConcurrent != null" >
        #{maxConcurrent,jdbcType=INTEGER},
      </if>
      <if test="invokeDate != null" >
        #{invokeDate,jdbcType=CHAR},
      </if>
      <if test="invokeHour != null" >
        #{invokeHour,jdbcType=CHAR},
      </if>
      <if test="invokeTime != null" >
        #{invokeTime,jdbcType=BIGINT},
      </if>
        now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ants.monitor.bean.entity.InvokeDO" >
    update dubbo_invoke
    <set >
      <if test="application != null" >
        application = #{application,jdbcType=VARCHAR},
      </if>
      <if test="appType != null" >
        app_type = #{appType,jdbcType=VARCHAR},
      </if>
      <if test="service != null" >
        service = #{service,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="consumerHost != null" >
        consumer_host = #{consumerHost,jdbcType=VARCHAR},
      </if>
      <if test="consumerPort != null" >
        consumer_port = #{consumerPort,jdbcType=VARCHAR},
      </if>
      <if test="providerHost != null" >
        provider_host = #{providerHost,jdbcType=VARCHAR},
      </if>
      <if test="providerPort != null" >
        provider_port = #{providerPort,jdbcType=VARCHAR},
      </if>
      <if test="success != null" >
        success = #{success,jdbcType=INTEGER},
      </if>
      <if test="failure != null" >
        failure = #{failure,jdbcType=INTEGER},
      </if>
      <if test="elapsed != null" >
        elapsed = #{elapsed,jdbcType=INTEGER},
      </if>
      <if test="concurrent != null" >
        concurrent = #{concurrent,jdbcType=INTEGER},
      </if>
      <if test="maxElapsed != null" >
        max_elapsed = #{maxElapsed,jdbcType=INTEGER},
      </if>
      <if test="maxConcurrent != null" >
        max_concurrent = #{maxConcurrent,jdbcType=INTEGER},
      </if>
      <if test="invokeDate != null" >
        invoke_date = #{invokeDate,jdbcType=CHAR},
      </if>
      <if test="invokeHour != null" >
        invoke_hour = #{invokeHour,jdbcType=CHAR},
      </if>
      <if test="invokeTime != null" >
        invoke_time = #{invokeTime,jdbcType=BIGINT},
      </if>
    </set>
    where uu_id = #{uuId,jdbcType=VARCHAR}
  </update>


  <select id="selectByInvokeDO" resultMap="BaseResultMap" parameterType="com.ants.monitor.bean.entity.InvokeDO" >
    select
    <include refid="Base_Column_List" />
    from dubbo_invoke
    <where>
      1 = 1
      <if test="application != null" >
        and application = #{application,jdbcType=VARCHAR}
      </if>
      <if test="appType != null" >
        and app_type = #{appType,jdbcType=VARCHAR}
      </if>
      <if test="service != null" >
        and service = #{service,jdbcType=VARCHAR}
      </if>
      <if test="method != null" >
        and method = #{method,jdbcType=VARCHAR}
      </if>
      <if test="consumerHost != null" >
        and consumer_host = #{consumerHost,jdbcType=VARCHAR}
      </if>
      <if test="consumerPort != null" >
        and consumer_port = #{consumerPort,jdbcType=VARCHAR}
      </if>
      <if test="providerHost != null" >
        and provider_host = #{providerHost,jdbcType=VARCHAR}
      </if>
      <if test="providerPort != null" >
        and provider_port = #{providerPort,jdbcType=VARCHAR}
      </if>
      <if test="success != null" >
        and success = #{success,jdbcType=INTEGER}
      </if>
      <if test="failure != null" >
        and failure = #{failure,jdbcType=INTEGER}
      </if>
      <if test="elapsed != null" >
        and elapsed = #{elapsed,jdbcType=INTEGER}
      </if>
      <if test="concurrent != null" >
        and concurrent = #{concurrent,jdbcType=INTEGER}
      </if>
      <if test="maxElapsed != null" >
        and max_elapsed = #{maxElapsed,jdbcType=INTEGER}
      </if>
      <if test="maxConcurrent != null" >
        and max_concurrent = #{maxConcurrent,jdbcType=INTEGER}
      </if>
      <if test="invokeDate != null" >
        and invoke_date = #{invokeDate,jdbcType=CHAR}
      </if>
      <if test="invokeHour != null" >
        and invoke_hour = #{invokeHour,jdbcType=CHAR}
      </if>
      <if test="invokeTime != null" >
        and invoke_time = #{invokeTime,jdbcType=BIGINT}
      </if>
    </where>

  </select>

  <delete id="deleteByDate">
    delete from dubbo_invoke where invoke_date  &lt; #{date}
  </delete>

</mapper>